@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 90%;
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    height: 40px;
}

nav a{
        text-decoration: none; 
        margin: 2px;
        color: black;
}

main{
    margin:20px;
}

div{
    width: 50%;
}

#encabezado{
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#encabezado div{
    width:50%;
}

#encabezado h1{
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
}

#encabezado h1 span{
    font-family: miFuente;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    color: rgb(218, 138, 35);
    text-transform: lowercase;
}

main{
    width: 100%;
}

nav img{
    width: 2%;
    max-width: 100%;
    height: auto;
    margin-right: auto;
}

h1,
h2{
    margin:20px;
}

h2{
    font-family: miFuente;
    font-size: 2em;
    color: lightsalmon;
}

h4{
    font-size: 1.4em;
    color:rgb(238, 188, 101);
    border-bottom: 1px dotted rgb(182, 93, 21);
}

p{
    font-size: 1.2em;
}

h3{
    font-family: mifuente;
    font-size: 3em;
    color: rgb(230, 200, 30);
}

.activo{
    text-decoration: underline;
}

article{
    width: 50%;
    padding:1em;
    float: left;
}

.division{
    width: 100%;
    padding:1rem;
    display: flex;
    margin-bottom: 2px;
}

.division div{
    width: 50%;
}

.division div img{
    width: 80%;
    margin: auto;
    display:block;
    border-radius: 10px / 20px;
}

.nosotros{
    background-color: chocolate;
}

.nosotros h2{
    font-family: miFuente;
    font-size: 2em;
    color: rgb(223, 152, 61);
}

.nosotros p{
    font-size: 1.2em;
    color: white;
}

footer{
    color: #FFF;
    background-color: gray;
    padding-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer ul{
    margin: 20px;;
    padding: 10px;
}

@font-face {
    src: url(../fuentes/BodoniFLF-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
    font-family: miFuente;
}